<table xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>제목</th>
        <th>생성일자</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="question : ${questionList}">
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}">
                </a>
            </td>
            <td th:text="${question.createDate}"></td>
        </tr>
    </tbody>
</table>
</html>

<!--타임리프에 대해서 타임리프는 기본적으로 build.gradle의 depandence에 추가를 해줘야한다 몇가지-->
<!--그리고 사용법은 model과 addattribute를 통해서 html로 보여질 수 있다-->
<!--th:하고 each 쓰면 배열 돌려서 데이터 추가 가능하고-->
<!--th: text하면 글자 타입으로 데이터를 보여지게 할 수 있다 html이라서 아마 고정으로 text해야하는듯 글씨로 표현하니까-->